*{
margin:0;
padding:0;
box-sizing: border-box;
}


#container{
/* background-color: red; */
display: flex;
justify-content: center;
align-items: center;
}

.slides{
    margin-top: 20px;
    width: 1000px;
    height: 500px;
    /* background-color: blue; */
}
.slides img {

    width: 1000px;
    height: 500px;
}

.active{
color:green;
}


.prev, .next{
font-size: 35px;
color:blue;

}

.prev i, .next i{
cursor: pointer;
}

.pallini{
position: absolute;
top:480px;
font-size: 30px;
color:blue;
}
